
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 100%;
  height: 50%;
  border-radius: 0%;
}
#log {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: rgb(253, 250, 250);
  background-color: #e02727;
  font-size: 20px;
  font-weight: bold;
}
#mirrorFlyRoot {
  box-shadow: 0 0 10px gray;
  border-radius: 16px;
}
  .menu-dropdown li:last-child  {
   display: none;
}

@media screen and (min-width: 1441px) {
  .mirrorfly-root .boxLayout {
    height: 100%;
    background: none !important;
    padding: 0 !important;
  }
}
